<a-song-glimmer>
  <div class='title'>{{this.attrs.title}}</div>
  <div class='artist'>{{this.attrs.artist}}</div>
  <div class='duration'>{{this.attrs.duration}}</div>
  <div class='album'>{{this.attrs.album}}</div>
  <div class='genre'>{{this.attrs.genre}}</div>
  <div class='year'>{{this.attrs.year}}</div>
  <button {{action 'like'}}>Like</button>
</a-song-glimmer>
